/* You can add global styles to this file, and also import other style files */

.juego {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.fila {
    display: flex;
    height: 70px;
    padding: 5px 0 5px 0;
    justify-content: center;
}

.celda {
    width: 70px;
    height: 70px;
    margin: 0 2px 0 2px;
    text-align: center;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none {
    background-color: #72F2EB;
}

.fallo {
    background-color: #FF5F5D;
}

.semiacierto {
    background-color: #00CCBF;
}

.acierto {
    background-color: #3F7C85;
}

.hide {
    display: none;
}

.celda p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.border-black {
    border: 2px solid black;
}

.border-blue {
    border: 2px solid blue;
}

.border-grey {
    border: 1px solid grey;
}

.tecla {
    width: 45px;
    height: 60px;
    margin: 0 2px 0 2px;
    text-align: center;
    cursor: pointer;
}

.separador {
    display: block;
    height: 300px;
}